<%- include ../blocks/templates/auth/head -%>
    
    <form id="chat">
        <input type="text" name="username" placeholder="Usuario">
        <div class="messages"></div>
        <input type="text" name="mensage" placeholder="Mensagem">
        <button type="submit">Enviar</button>
    </form>

    <button id="logout">Sair</button>

<%- include ../blocks/templates/auth/footer -%>