<%- include ../blocks/templates/auth/head -%>
    <div class="container">
        <div class="contacts-container">
            <div class="search">
                <input type="text" id="search" placeholder="Pesquisar"/>
            </div>
            <ul class="contacts" id="contacts"></ul>
            <div class="sair-container">
                <button id="logout">Sair</button>
            </div>
        </div>
        <div class="chat-container">
            <header>
                <div class="contact-chat">
                    <img src="" alt="">
                    <div class="info-contact-chat">
                        <h3 class="name">Vincent Porter</h3>
                        <p class="last-acess status">online</p>
                    </div>
                </div>
                <div class="star">
                    <i class="fa fa-star"></i>
                </div>
            </header>
            <main class="chat-history">
                <ul></ul>
            </main>
            <form id="chat" class="chat-message">
                <input type="hidden" name="from_user" id="from_user">
                <input type="hidden" name="to_user" id="to_user">
                <textarea name="body" id="body" class="message-camp" placeholder="Digite sua mensagem"></textarea>
                <button type="submit" class="submit">Enviar</button>
            </form>
        </div>
    </div>

    <!-- template de nova mensagem -->
    <script id="msg-template" type="text/x-handlebars-template">
        <li class="{{className}}">
            <div class="msg-info">
                <span class="info-date-time">{{createdAt}}</span>
                <span class="info-name">{{userName}}</span>
            </div>
            <div class="box-message"><pre>{{messageOutput}}</pre></div>
        </li>
    </script>

    <!-- template de item da lista de usuarios -->
    <script id="contact-template" type="text/x-handlebars-template">
        <li class="contact" onclick="getMessages('{{idUser}}')">
            <img src="" alt="">
            <div class="info-contact">
                <h3 class="name">{{userName}}</h3>
                <p class="last-acess status online">{{status}}</p>
            </div>
        </li>
    </script>
    
<%- include ../blocks/templates/auth/footer -%>