<%- include ../blocks/templates/auth/head -%>
    <div class="container">
        <div class="contacts-container">
            <div class="search">
                <input type="text" id="search" placeholder="Pesquisar usuarios"/>
                <button class="clear-search" id="clear-search">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <ul class="contacts" id="contacts"></ul>
            <div class="sair-container">
                <button id="logout">Sair</button>
            </div>
        </div>
        <div class="chat-container" id="chat-container">
            <div class="baner-inicial" id="baner">
                <img src="/img/inicial.svg" alt="">
                <p>Selecione um contato para iniciar ou pesquise entre os usuários cadastrados no sistema.</p>
                <i>By: <a href="https://github.com/mac-alves" target="blanck">Mauricio Alves</a></i>
            </div>
            <header class="inicial">
                <div class="contact-chat">
                    <img src="/img/user.svg" alt="">
                    <div class="info-contact-chat">
                        <h3 class="name" id="name-user-selected"></h3>
                        <p class="last-acess status"></p>
                    </div>
                </div>
                <div class="star">
                    <i class="fa fa-star"></i>
                </div>
            </header>
            <main class="chat-history inicial">
                <ul id="chat-history-list"></ul>
            </main>
            <form id="chat" class="chat-message inicial">
                <textarea name="body" id="body" class="message-camp" placeholder="Digite sua mensagem"></textarea>
                <button type="submit" class="submit">Enviar</button>
            </form>
        </div>
    </div>

    <!-- template de nova mensagem -->
    <script id="msg-template" type="text/x-handlebars-template">
        <li class="{{className}}">
            <div class="msg-info">
                <span class="info-date-time">{{createdAt}}</span>
                <span class="info-name">{{userName}}</span>
            </div>
            <div class="box-message"><pre>{{messageOutput}}</pre></div>
        </li>
    </script>

    <!-- template de item da lista de usuarios -->
    <script id="contact-template" type="text/x-handlebars-template">
        <li class="contact" onclick="getMessages('{{idUser}}')">
            <img src="/img/user.svg" alt="">
            <div class="info-contact">
                <h3 class="name">{{userName}}</h3>
                <p class="last-acess status online">{{status}}</p> 
            </div>
        </li>
    </script>
    
<%- include ../blocks/templates/auth/footer -%>