<%- include ../blocks/templates/head -%>
    
    <form id="login">
        <input type="text" name="name" id="userName" placeholder="Usuario">
        <span id="error"></span>
        <button type="submit">Entrar</button>
    </form>
    <a href="/user-new">Crie uma conta</a>

<%- include ../blocks/templates/footer -%>