<%- include ../blocks/templates/head -%>
    
    <form id="register">
        <input type="text" name="name" id="userName" placeholder="Usuario">
        <span id="error"></span>
        <button type="submit">Criar Conta</button>
    </form>

<%- include ../blocks/templates/footer -%> 