        <script src="js/util.js"></script>
        <script src="js/ajax.js"></script>
        <script src="js/auth/socket.js"></script>
        <script src="js/auth/script.js"></script>
    </body>
</html>